<h1>Editing menu</h1>

<%= render 'form' %>

<%= link_to 'Show', restaurant_local_menu_path(@local.restaurant, @local, @menu) %> |
<%= link_to 'Back', restaurant_local_menus_path(@local.restaurant, @local) %>
