<h1>Editing local_photo</h1>

<%= render 'form' %>

<%= link_to 'Show', restaurant_local_local_photo_path(@local.restaurant, @local, @local_photo) %> |
<%= link_to 'Back', restaurant_local_local_photos_path(@local.restaurant, @local) %>