<h1>Editing district</h1>

<%= render 'form' %>

<%= link_to 'Show', country_province_district_path(@province.country, @province, @district) %> |
<%= link_to 'Back', country_province_districts_path(@province.country, @province) %>