<h1>New district in <%= link_to @province.name, country_province_path(@province.country, @province) %></h1>

<%= render 'form' %>

<%= link_to 'Back', country_province_districts_path(@province.country, @province) %>