
<div class="page-header rest-head">
  <h1>About Us</h1>
</div>

<div class="alert alert-success" role="alert">
  <strong>History: </strong><%= @abouts.last.history %>
</div>
<div class="alert alert-info" role="alert">
  <strong>Mision: </strong><%= @abouts.last.mision %>
</div>
<div class="alert alert-warning" role="alert">
  <strong>Vision: </strong><%= @abouts.last.vision %>
</div>
