<h1>Editing local_card</h1>

<%= render 'form' %>

<%= link_to 'Show', restaurant_local_local_card_path(@local.restaurant, @local, @local_card) %> |
<%= link_to 'Back', restaurant_local_local_cards_path(@local.restaurant, @local) %>
