<h1>Editing local_delivery</h1>

<%= render 'form' %>

<%= link_to 'Show', restaurant_local_local_delivery_path(@local.restaurant, @local, @local_delivery) %> |
<%= link_to 'Back', restaurant_local_local_deliveries_path(@local.restaurant, @local) %>
